<section class="property-binding">
  <!--
  <article>
    <h3>Interpolação/Interpolation</h3>
    <p>String renderizada por interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 = {{ 1 + 1}}</p>
    <p>Resultado de 1 + 1 não é {{ 1 + 1 + getValor()}}</p>
    <p>Curso de Angular e gosto do curso {{ cursoAngular && getCurtirCurso() }}</p>
  </article> -->

  <!--
  <article>
    <h3>Property Binding</h3>
    <img [src]="urlImage">
    //Isso é a mesma coisa do de cima, é o que a sintaxe a cima faz por baixo dos panos, uma forma menor de declarar o bind
    <img bind-src="urlImage">
  </article>-->

  <!--
  <article>
    <div>
      <h3>Class e Style Binding</h3>
      <p>Selecione uma classe:</p>
      // #classe é uma variável local, que será usada para obter os valores das opções que estão sendo selecionadas
      <select #classe (change)="0"> // (change) é um evento de mudança que está sendo escutado, similar ao AddEventListener
        <option value="alert-success">Sucesso</option>
        <option value="alert-warning">Cuidado</option>
        <option value="alert-info">Informações</option>
        <option value="alert-danger">Perigo</option>
      </select>

      <br><br>

      //Uma forma utilizando a interpolação de classe
      <p class="alert {{ classe.value }}" role="alert">Texto colorido conforme o valor do combobox</p>

      //Outra forma utilizando o Class Binding
      <div class="alert" role="alert" [class.alert-success]="classe.value === 'alert-success'"> // Aqui ele está verificando se o valor da classe lá de cima (que foi selecionado) for igual ao alert-success, ele aplica a classe: class.alert-success (que seria o css)
        Sucesso
      </div>
      <div class="alert" role="alert" [class.alert-warning]="classe.value === 'alert-warning'">Cuidado</div>
      <div class="alert " role="alert" [class.alert-info]="classe.value === 'alert-info'">Informações</div>
      <div class="alert " role="alert" [class.alert-danger]="classe.value === 'alert-danger'">Perigo</div>

      //Style Binding [propriedade css para ser alterada]
      <div class="alert alert-danger" [style.display]="classe.value === 'alert-danger' ? 'block' : 'none'">Esse texto somente aparece em caso de erro.</div>
    </div>
  </article>-->

  <!--
  <article class="event-binding">
    <h3>Event Binding</h3>
    <div>
      // O evento vai dentro dos () e a ação/método a ser realizado vai nos "", nesse caso o método vem do nosso component, por baixo dos panos o (click) vira on-click
      <button class="btn btn-primary" (click)="botaoClicado()">
        Clique aqui
      </button>
    </div>

    <br /><br />

    // $event.target.value é uma forma de obter o valor que está sendo digitado
    // Criar uma variável local através do # também é uma forma de obter o valor do que está sendo digitado
    <input
      type="text"
      (keyup)="onKeyUp($event)"
      (keyup.enter)="salvarValor($event.target.value)"
      (blur)="salvarValor(campoInput.value)"
      #campoInput
    />

    <p>Valor atual: {{ valorAtual }}</p>
    <p>Valor salvo (após o Enter): {{ valorSalvo }}</p>

    <br /><br />

    // Criando uma classe highlight para aplicar o valor booleano isMouseOver, e essa classe highlight está sendo estilizada lá no componente
    <span
      (mouseover)="onMouseOverOut()"
      (mouseout)="onMouseOverOut()"
      [class.highlight]="isMouseOver"
    >
      Passe o mouse sobre mim.
    </span>
  </article>-->

  <app-meu-form></app-meu-form>
</section>
